/mac/Library/Preferences/muCommander/snapshot.xml
/mac/Library/Preferences/muCommander/shell_history.xml
/linux/.trolcommander/snapshot.xml
/linux/.trolcommander/shell_history.xml
/linux/.trolcommander/windows.list
