/mac/Library/Preferences/muCommander/snapshot.xml
/mac/Library/Preferences/muCommander/shell_history.xml
/mac/Library/Preferences/trolCommander/windows.list
/mac/Library/Preferences/trolCommander/shell_history.xml
/mac/Library/Preferences/trolCommander/snapshot.xml
/mac/Library/Preferences/trolCommander/*.history
/linux/.trolcommander/snapshot.xml
/linux/.trolcommander/shell_history.xml
/linux/.trolcommander/windows.list
/linux/.trolcommander/textfiles.history
.DS_Store
/mac/Library/Application\ Support/org.yanex.marta/state.json
mac/Library/Application\ Support/Code/User/workspaceStorage
