/mac/Library/Preferences/muCommander/snapshot.xml
/mac/Library/Preferences/muCommander/shell_history.xml
/mac/Library/Preferences/trolCommander/windows.list
/mac/Library/Preferences/trolCommander/shell_history.xml
/mac/Library/Preferences/trolCommander/snapshot.xml
